{% extends "base.html" %}
{% block title %}URL Shortner - by HUN{% endblock %}
{% block content %}
            <header id="header">
             <h1>URL Shortener</h1><h2>by HUN</h2>
				<p>안녕하세요!<br />
				<span id="url-result">링크를 입력하시고, 결과를 확인하세요!</span></p>
			</header>

		<!-- Shortener Form -->
            {% csrf_token %}
			<form id="shortener-form" method="post" action="#">
				<input type="text" name="url" id="url" class="form-control input-sm" placeholder="Shorten your link" />
                <input type="submit" id="submitButton" value="Shorten" />
                <span class="message"></span>
			</form>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://github.com/jerrygoha" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; made by JEHUN HA.</li>
				</ul>
			</footer>

{% endblock %}